<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.androidmika.pommesmann">

    <application
        android:name="de.androidmika.pommesmann.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_pommesmann"
        android:roundIcon="@mipmap/ic_pommesmann_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:resizeableActivity="false">
        <activity
            android:name="de.androidmika.pommesmann.Activities.MainActivity"
            android:noHistory="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.androidmika.pommesmann.Activities.GameActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.androidmika.pommesmann.Activities.GameoverActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.androidmika.pommesmann.Activities.ShopActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>